<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aditya Suke</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img alt="Logo" src="images/logo.jpg">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/addEnquiry">Add Enquiry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/viewEnquiry">View Enquiry</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <p th:text="${succMsg}" class="text-success" th:if="${succMsg}"></p>
        <p th:text="${errMsg}" class="text-danger" th:if="${errMsg}"></p>
        <form th:action="@{/addEnquiry}" th:object="${formObj}" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingName" placeholder="Student Name" th:field="*{studentName}">
                <label for="floatingName">Student Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingNumber" placeholder="Contact Number" th:field="*{studentPhno}">
                <label for="floatingNumber">Contact Number</label>
            </div>
            <div class="mb-3">
                <label for="classMode">Class Mode:</label>
                <select class="form-select" id="classMode" th:field="*{classMode}">
                    <option value="" disabled selected>--select--</option>
                    <option value="online">Online</option>
                    <option value="offline">Offline</option>
                    <option value="hybrid">Hybrid</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="course">Course:</label>
                <select class="form-select" id="course" th:field="*{courseName}">
                    <option value="" disabled selected>--select--</option>
                    <option th:each="course : ${courseName}" th:value="${course}" th:text="${course}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="enqStatus">Status:</label>
                <select class="form-select" id="status" th:field="*{statusName}">
                    <option value="" disabled selected>--select--</option>
                    <option th:each="status : ${statusName}" th:value="${status}" th:text="${status}"></option>
                </select>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
